[flake8]
exclude =
    .eggs,
    .git,
    .hg,
    .mypy_cache,
    .pytest_cache,
    env,
    .env,
    venv,
    .venv,
    .vscode,
    static,
    media,
    templates,
    developments,
    scripts,
    requirements,
    */templates/*,
    */migrations/*
max-complexity = 10
statistics = True
dictionaries=en_US,python,technical,django
whitelist = whitelist.txt
